@charset "utf-8";

/*定色*/
:root{
    --icystone01: #A6C2CE;    --mangodream01:#ffe083;
    --icystone02: #9C8F96;    --mangodream02:#e99a24;
    --icystone03: #EBC57C;    --mangodream03:#2b3c1a;
    --icystone04: #6B799E;    --mangodream04:#171516;

    --pinkpowders01:#ece4e2;  --coolchameleon01:#d9cfe7;
    --pinkpowders02:#fcd3d1;  --coolchameleon02:#a8bcba;
    --pinkpowders03:#fcdff3;  --coolchameleon03:#acc66d;
    --pinkpowders04:#fe929f;  --coolchameleon04:#50697d; 

    --corkcrowd01:#b98d72;
    --corkcrowd02:#ae4951;
    --corkcrowd03:#57233a;
    --corkcrowd04:#161b1f;

    --frame: #3D313F;
    --wordbgc:#caffca;
    --antiwhite:#ffffff;
}
/*視窗背景色設定*/
body{
    background: #6d83d6 url(./images/diamond01-1.jpg) repeat-x;
}

/*連結顏色設定*/
a:link{
    color:blue;
    text-decoration: none;
}
a:visited{
    color:blue;
}
a:hover{
    color:red;
    text-decoration: underline;
}
a:active{
    color:green;
}

/*頁首,導覽,頁尾的共通設定*/
header,nav,footer{
    text-align: center;
}

/*導覽樣式設定*/
header p{
    color: white;
    font-weight: bolder;
}
.menu li{
    
    width: 200px;
    list-style: none;
    /* border: 1px red solid; */
    margin: 10px 10px;
    display: inline-block;
    font-weight: bolder;
}
.menu li a{
    background-image: url(./images/button02-1.jpg);
    /* background: #6fbb9a; */
    padding: 10px;
    /* color: white; */
    color: black;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    /* box-shadow: 1px 1px 1px 1px white; */
    box-shadow: 1px 1px 1px 1px black;
}
.menu li a:hover{
    color:red;
    /* color: black; */
    background-image: url(./images/button02.jpg);
    /* background-color: #afdac8; */
    box-shadow: 1px 1px 1px 1px black;
}


/*頁面標題設定*/
h1{ 
    box-sizing: border-box;
    text-align: center;
    color:white;
    font-size: 3em;
    width: 300px;
    background: url(./images/diamond02.jpg);
    /* background:  linear-gradient(to bottom,#6dba99,#4b9e7a); */
    border: 5px solid #ffffff;
    border-radius: 50%;
    padding: 30px;
    margin: 130px auto 50px auto;
    line-height: 1;
    text-shadow: 2px 2px 5px gray;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0,0.5);   
}

/*次標題設定*/
h2{
    color:#33c7f7 ;
    padding: 10px;
    border: 1px dashed #33c7f7 ;
    border-left: 10px solid #25255f;
    border-radius: 5px 0 0 5px;
}

.b{
    font-weight:bold;
}

/*小標題設定*/
h3{
    color: #2c439b;
    background-color: #33c7f7;
    padding: 10px;
    border-radius:10px ;
    box-shadow: 0 0 5px 5px #099ed0 inset;
    font-weight: bold;
}

/*內容區塊邊框設定*/
#content{
    width: 960px;
    background-color: white;
    border: 1px #f8ceb9 solid;
    padding: 20px 60px;
    margin: 40px auto;
    box-sizing: border-box;
}

/*「更多介紹」連結設定*/
.more{
    text-align: right;
}

.more::after{
    content: url(./images/ico_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}
/*連結圖示設定*/

.mail::after{
    content: url(./images/ico_mail.png);
    margin-left: 3px;
    vertical-align: middle;
}

.web::after{
    content: url(./images/ico_blank.png);
    margin-left: 3px;
    vertical-align: middle;
}

/*區塊間分隔*/
#content>section~section{
    margin-top: 80px;
}

/*文繞圖設定*/
.imgl{
    float: left;
    margin-right: 20px;
}
.imgr{
    float: right;
    margin-left: 20px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content: "";
    display:block;
    clear: both;
}
/*圓形圖片設定*/
.imgc{
    border-radius: 50%;
}
/*圖片大小*/
.imgsize{
    width: 450px;
    height: 225px;
}
/*表個框限*/

.nt{
    border: 2px solid #099ed0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom:20px ;
}

.nt th,.nt td{
    border: 1px solid #099ed0;
    padding: 10px 20px;
}
.nt th{
    background-color:#e8ecf9 ;
    text-align: left;
}
.nt caption{
    margin: 20px 0 10px 0;
}
/*輸入框限格式*/
input[type="text"],input[type="email"],textarea{
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #099ed0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 1em;
}

input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    /* outline: none; */
    background-color:#ffffff ;
    /* border: 2px solid #000000; */
    box-sizing: border-box;
}
input,label,select,text,textarea{
    cursor: pointer;
}
/*送出重置按鈕*/
.send{
    margin: 0 auto;
    width: 360px;
}
.send input{
    width: 150px;
    background-color: #e8ecf9;
    border: 2px solid #099ed0;
    padding: 10px;
    margin: 0 10px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: bolder;
}
.send input:hover{
    background-color: #099ed0;
    border: 2px solid #e8ecf9;
    color: white;
}